<!DOCTYPE html>
<html lang="en">
<head>Add User</head>
<body>
<div>
    <h1>Adding User and Car</h1>
</div>
<div>
    <form method="post">
        <label>User name:
            <input type="text" name="userName"><br/>
        </label>
        <label>Age:
            <input type="number" name="userAge"><br/>
        </label>
        <label>Car:
            <input type="text" name="autoModel"><br/>
        </label>
        <label>Car color:
            <input type="text" name="autoColor"><br/>
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
</body>